Repository code100x/daily-code: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,json,md}": ["yarn run lint:fix && yarn run format:fix"]
}

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json}": ["eslint --fix"],
  "./**/*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

schema updated for store userProgress
  packages/db/prisma/migrations/20240930174340_add_user_progress/migration.sql
  packages/db/prisma/schema.prisma
Due: none

new server action created for userProgress feature
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

track user progress feature added
  apps/web/components/LessonView.tsx
  apps/web/components/TrackCard-2.tsx
  apps/web/components/TrackPreview.tsx
  apps/web/components/Tracks.tsx
  apps/web/screens/Landing.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

removed husky
  .husky/pre-commit
Due: none

husky config removed
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

cleared yarn.lock
  yarn.lock
Due: none

Fixes the toggle switch by adding outline
  apps/web/components/ModeToggle.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fixes the toggle outline
  apps/web/components/ModeToggle.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: correct tracks sorting when changing categories or sorting options on landing page
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix readme
  README.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

feat: add Dockerfile for production build and deployment.
  Dockerfile.prod
  apps/web/next.config.js
  apps/web/package.json
  docker-compose.yml
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: track tool ui fix
  apps/web/components/TrackTools.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix pdf print view
  apps/web/app/pdf/[...pdfId]/page.tsx
  apps/web/components/NotionRenderer.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix tracks skeleton
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Update tsconfig.json to fix error on running locally using Docker
  tsconfig.json
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Add trackTitle to the search criteria
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

corrected the profile dropdown ui
  apps/web/components/UserAccountDropDown.tsx
  packages/db/.env.example
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fix:tracks pagination
  apps/web/components/Tracks.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

removed lock file and kept the .env.example
  packages/db/.env.example
  yarn.lock
Due: none

pagination fixed
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

feat: [#694] add canva embed and route
  apps/web/app/canva-track/[...trackIds]/page.tsx
  apps/web/components/TrackCard-2.tsx
  apps/web/components/admin/AddTrackCard.tsx
  apps/web/components/admin/EditTrackCard.tsx
  apps/web/components/utils.tsx
  packages/db/prisma/migrations/20241101231656_add_canva/migration.sql
  packages/db/prisma/schema.prisma
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

feat: add canvaLink and trackType to Track model; update related components and migrations
  .eslintrc.js
  apps/web/app/canva-track/[...trackIds]/page.tsx
  apps/web/components/TrackCard-2.tsx
  apps/web/components/admin/AddTrackCard.tsx
  apps/web/components/admin/AdminSearch.tsx
  apps/web/components/admin/CompleteAddTracks.tsx
  apps/web/components/admin/CompleteTrackCard.tsx
  apps/web/components/admin/EditTrackCard.tsx
  apps/web/components/admin/ProblemEditor.tsx
  apps/web/components/admin/TracksEditor.tsx
  apps/web/components/utils.tsx
  package.json
  packages/db/prisma/migrations/20241102012239_canva_track/migration.sql
  packages/db/prisma/schema.prisma
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

chore: clean up pre-commit hook by removing unnecessary lines
  .husky/pre-commit
Due: none

Fix unresponsive image height and increased search bar height
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: update Dockerfile to remove frozen lockfile and modify image domains to remote patterns
  Dockerfile.prod
  apps/web/next.config.js
Due: eslint --fix, prettier --write

docs: improve README formatting and structure
  README.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

fix: update pagination controls to handle client-side navigation properly
  apps/web/components/Blog.tsx
  apps/web/components/CustomPagination.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

chore: update database configuration example and dependencies
  packages/db/.env.example
  yarn.lock
Due: none

chore: update database example configuration for db_aajcdnnfno
  packages/db/.env.example
Due: none

fix: include track titles in search results
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: improve search mobile responsiveness
  apps/web/components/ContentSearch.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

feat: add name editing functionality to profile
  apps/web/app/api/user/update/route.ts
  apps/web/components/UserDetailForm.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: update session after name change
  apps/web/components/UserDetailForm.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fix: Prevent overflow on mobile devices by limiting rendered pagination items
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

added name editing functionality to profile
  apps/web/app/profile/page.tsx
  apps/web/components/EditUserName.tsx
  apps/web/components/UserDetailForm.tsx
  apps/web/components/utils.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

removed yarn.lock
  yarn.lock
Due: none

Improved user experience while updating name
  apps/web/components/EditUserName.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Optimized Search Interface
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Updated tracks dialog ui
  apps/web/components/TrackPreview.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write
