Repository code100x/daily-code: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fixed unresponsiveness issue in phone view.
  apps/web/components/Tracks.tsx
  apps/web/package.json
  package.json
  packages/db/docker-compose.yml
  packages/db/package.json
  packages/typescript-config/base.json
  packages/ui/package.json
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Sort by function fixed
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fixed Pagination-Changed filteredTracks to visibleTracks
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: admin not being able to add tracks
  apps/web/app/api/AddTracks/route.ts
  apps/web/components/Hero.tsx
  apps/web/components/admin/CompleteTrackCard.tsx
  apps/web/tailwind.config.js
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: filter for cohort selection
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: docker fully functional
  Dockerfile.prod
Due: none

feat: ISR in home page
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: minor changes
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: remove cache expiry
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: minor change
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

update: dockerfile for production
  Dockerfile.prod
Due: none

fix ISR issue :tracks page should automatically update when a new track is added!
  apps/web/app/admin/layout.tsx
  apps/web/app/api/revalidate/route.ts
  apps/web/components/utils.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix
  apps/web/app/api/revalidate/route.ts
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

feat(ISR): Implement ISR revalidation for tracks on admin updates
  apps/web/app/admin/layout.tsx
  apps/web/components/utils.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Create LICENSE
  LICENSE
Due: none

chore: add project ideas
  .github/project-ideas.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

Fixes #729 : Image problem fixed
  apps/web/components/TrackPreview.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Fixes #711 : Added the suggestions in ContentSearch
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

when select the all it make the selecteCohot null and then only check for the category
  apps/web/app/profile/layout.tsx
  apps/web/components/ProfileChildren.tsx
  apps/web/components/Tracks.tsx
  packages/db/package.json
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Update project ideas
  .github/project-ideas.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

add the track.title too for the search
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fixed sticky appbar
  apps/web/components/Appbar.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fixed img in preview
  apps/web/components/TrackPreview.tsx
  packages/db/prisma/schema.prisma
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fixed track preview card
  apps/web/components/TrackPreview.tsx
  apps/web/next.config.js
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

impr(ui): hover effect in menu
  apps/web/components/BlogAppbar.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

refactor(ui): adjust BlogAppbar padding for better text access
  apps/web/components/BlogAppbar.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: fixed dockerfile for the bug ->Prisma failed to detect the libssl/openssl version to use
  Dockerfile
Due: none

fixed category based filter
  apps/web/components/Tracks.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

Add detailed README with descriptions of each file and project structure
  README.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

fix(docker-compose): correct indentation for volumes.postgres-data.external
  docker-compose.yml
Due: none

fix: reset db to fix P2002 error and enhance setupDB.sh with nice CLI
  packages/db/setupDB.sh
Due: none

fix: update husky pre-commit to use bash and remove deprecated lines
  .husky/pre-commit
Due: none

fix: center TrackTools at bottom across all devices
  apps/web/components/Blog.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix : Issue#754
  apps/web/components/ContentSearch.tsx
  yarn.lock
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

fix: [#743] Selection enabled below BlogAppBar
  apps/web/components/BlogAppbar.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

name fix of dialog comp
  packages/ui/src/shad/ui/dailog.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

updated content-search shortcut
  apps/web/components/ContentSearch.tsx
Due: yarn run lint:fix && yarn run format:fix, eslint --fix, prettier --write

docs: add prisma generate step to Windows setup
  README.md
Due: yarn run lint:fix && yarn run format:fix, prettier --write

Path conditions:
  yarn run lint:fix && yarn run format:fix: any of: **/*.{ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx,json}
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,css,md}
